<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Kyubey Network</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/simplemde.min.css" rel="stylesheet">
    <link href="/styles/site.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Kyubey Network</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "home" ? "active" : "")" asp-action="Index" asp-controller="Home">
                                <i class="fa fa-home"></i>
                                Dashboard
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Token</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "token-all" ? "active" : "")" asp-action="Index" asp-controller="Token">
                                <i class="fa fa-tasks"></i>
                                All Tokens
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "token-create" ? "active" : "")" asp-action="Create" asp-controller="Token">
                                <i class="fa fa-plus"></i>
                                Create Token
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Bancor</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "bancor-all" ? "active" : "")" asp-action="All" asp-controller="Bancor">
                                <i class="fa fa-bitcoin"></i>
                                All Bancor Tokens
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "bancor-onboard" ? "active" : "")" asp-action="Onboard" asp-controller="Bancor">
                                <i class="fa fa-plus"></i>
                                Onboard
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>OTC</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "otc-all" ? "active" : "")" asp-action="Create" asp-controller="Project">
                                <i class="fa fa-bitcoin"></i>
                                All OTC Tokens
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "otc-onboard" ? "active" : "")" asp-action="Onboard" asp-controller="Bancor">
                                <i class="fa fa-plus"></i>
                                Onboard
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Incident Management</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "icm-all" ? "active" : "")" asp-action="Create" asp-controller="IcM">
                                <i class="fa fa-bell"></i>
                                All Incidents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "icm-rule" ? "active" : "")" asp-action="Rule" asp-controller="IcM">
                                <i class="fa fa-bullhorn"></i>
                                Alert Rules
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Current == "icm-oncall" ? "active" : "")" asp-action="OnCall" asp-controller="IcM">
                                <i class="fa fa-phone"></i>
                                On Call Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/simplemde.min.js"></script>
    <script src="/scripts/jquery.fileupload.js"></script>
    <script src="/scripts/site.js"></script>
</body>
</html>