<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <div class="home-container">
                <h1>@SR["Kyubey"]</h1>
                <div class="home-description">@SR["A Decentralized DApps Incubation Center"]</div>
                <div class="home-description">@SR["The first DAIBO protocol (decentralized initial bancor offering protocl). Introduce the project progess as indexes. Unblock raised fund by community votes "]</div>
            </div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section style="text-align: center">
    <form method="get" class="token-search">
        <input type="text" name="token" value="@ViewBag.SearchToken" class="token-search-textbox" placeholder="@SR["Token"]" /><input type="submit" value="@SR["Search"]" class="token-search-button" />
    </form>
</section>