<head>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .HEAD {
            position: relative;
            overflow: hidden;
            padding-bottom: 7rem;
        }
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .img-xys {
            height: auto;
            max-width: 10%;
        }
        .carousel-Caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 150px;
            color: #fff;
            text-align: center;
        }
        
    </style>

</head>
<div class="HEAD">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/Kyubey_BG.png">
                <div class="carousel-Caption">
                        <img src="~/img/KYUBEY_logo.png" class="img-xys">
                      <div style="line-height: 20px;font-size: 1vw;">
                        <h2>Kyubey</h2>
                            <p>Decentralized DApps Incubator</p>
                            <p>First Proposed DAIBO protocol  ( decentralized initial bancor offering protocol)</p>
                            <p>Introduce the project progress as indexes</p>
                            <p>Unlock raised fund by community votes</p>
                       </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/Kyubey_Dex_BG.png">
                <div class="carousel-Caption">
                        <img src="~/img/KYUBEY_logo.png" class="img-xys">
                        <div style="line-height: 20px;font-size: 1vw;">
                            <h2>Kyubey Dex</h2>
                            <p>First open source decentralized exchange on EOS</p>
                            <p>First fully on-chain order-marching EOS exchange</p>
                            <p>Trade via Dex or Exchange Bancor Smart Contract</p>
                            <p> Secure and transparent |  Fully decentralized | Free of charge | Open Source</p>
                        </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/KyubeyXCryptomeetup_BG.png">
                <div class="carousel-Caption">
                    <div id="fontset" style="text-align: center; line-height :15px">
                        <img src="~/img/KYUBEY_logo.png" class="img-xys">
                        <h1> <font size="30">Kyubey</font></h1>
                        <h1>X</h1>
                        <h2>Cryptomeetup</h2>
                        <h3 ><font color="#FAD013">COMING SOON</font></h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
@*<section style="text-align: center">
        <form method="get" class="token-search">
            <input type="text" name="token" value="@ViewBag.SearchToken" class="token-search-textbox" placeholder="@SR["Token"]" /><input type="submit" value="@SR["Search"]" class="token-search-button" />
        </form>
    </section>*@

@*<header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <div class="home-container">
                    <h1>@SR["Kyubey"]</h1>
                    <div class="home-description">@SR["A Decentralized DApps Incubation Center"]</div>
                    <div class="home-description">@SR["The first DAIBO protocol (decentralized initial bancor offering protocl). Introduce the project progess as indexes. Unblock raised fund by community votes"]</div>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
*@
@*<section style="text-align: center">
        <form method="get" class="token-search">
            <input type="text" name="token" value="@ViewBag.SearchToken" class="token-search-textbox" placeholder="@SR["Token"]" /><input type="submit" value="@SR["Search"]" class="token-search-button" />
        </form>
    </section>*@