@model IEnumerable<Bancor>
@{
    ViewBag.Current = "home-kyubey";
}
@await Html.PartialAsync("_HomeHeader")

<section>
    <div class="container currency-table-outer">
        <table class="currency-table">
            <thead>
                <tr>
                    <th>@SR["TOKEN"]</th>
                    <th>@SR["24H CHANGE"]</th>
                    <th>@SR["BUY PRICE EOS"]</th>
                    <th>@SR["SELL PRICE EOS"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            <img src="/token/@(x.Id).png" class="table-icon" />
                            <div class="table-currency">
                                <a class="table-currency-symbol" asp-action="Index" asp-controller="Token" asp-route-id="@x.Id">@x.Id</a>
                                <div class="table-currency-name">@x.Token.Name</div>
                            </div>
                        </td>
                        <td>@((x.Change * 100.0).ToString("0.0000"))%</td>
                        <td>@x.BuyPrice.ToString("0.0000") EOS</td>
                        <td>@x.SellPrice.ToString("0.0000") EOS</td>
                        <td class="table-currency-exchange">
                            <a asp-action="Buy" class="btn btn-primary btn-convert-intable" asp-route-id="@x.Id" asp-controller="Token">Buy</a>
                            <a asp-action="Sell" class="btn btn-primary btn-convert-intable" asp-route-id="@x.Id" asp-controller="Token">Sell</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>