@model IEnumerable<TokenHandlerListVM>
@{
    ViewBag.Title = SR["Kyubey Incubation Center"];
    ViewBag.Current = "home-incubation";
}
@await Html.PartialAsync("_Header")

<section>
    <div class="container">
        @foreach (var row in Model)
        {
            <div class="incubation-card-outer">
                <div class="incubation-card">
                    <div class="incubation-card-img" style="background: url(/token/tokenbanner/@(row.BannerId).png)"></div>
                    <div class="incubation-card-main">
                        <img class="incubation-card-icon" src="/token/@(row.Id).png" />
                    </div>
                    <div class="incubation-card-main-text">@(row.Id)</div>
                    <div class="incubation-card-main-description">@(row.Introduction)</div>
                    <div class="incubation-card-underscore">@SR["Crowdfunding Progress"]</div>
                    <div class="incubation-card-progress-outer">
                        @{ 
                            var rowPercent = (row.CurrentRaised == 0 || row.TargetCredits == 0) ? 0 : (int)(row.CurrentRaised / row.TargetCredits);
                            if (rowPercent < 10)
                            {
                                rowPercent = 14;
                            }
                        }
                        <div class="incubation-card-progress" style="width: 100%">@row.TargetCredits.ToString("0.00")</div>
                        <div class="incubation-card-progress done" style="width: @(rowPercent)%">@row.CurrentRaised.ToString("0.00")</div>
                    </div>
                    <hr />
                    <div class="incubation-card-buttons">
                        <a href="/Token/@row.Id" class="btn btn-primary">@SR["View Detail"]</a>
                        @if (row.ShowGoExchange)
                        {
                            <a href="/Token/@row.Id/Exchange" class="btn btn-primary">@SR["Go Exchange"]</a>
                        }

                    </div>
                </div>
            </div>
        }
        <div style="clear:both"></div>
    </div>
</section>