<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Kyubey</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css?v=20181104" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/banner.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="~/css/one-page-wonder.min.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/common.js?v=20181029"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>

<body class="@(ViewBag.Theme)">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="@(ViewBag.Flex ? "container-fluid" : "container")">     
            <a class="navbar-brand" href="/">Kyubey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item @(ViewBag.Current=="home-incubation"? "active" :"")">
                        <a class="nav-link" href="/">@SR["Incubation Center"]</a>
                    </li>*@
                    <li class="nav-item @(ViewBag.Current=="home-dex"? "active":"")">
                        <a class="nav-link" href="/dex">@SR["Dex"]</a>
                    </li>
                    <li class="nav-item @(ViewBag.NavActive=="ANALYSIS"? "active":"")">
                        <a class="nav-link" asp-action="Index" asp-controller="Analysis" asp-route-id="">@SR["Curve Analysis"]</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @SR["Language"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/lang/en-US">English</a>
                            <a class="dropdown-item" href="/lang/zh-CN">简体中文</a>
                            <a class="dropdown-item" href="/lang/zh-TW">繁體中文</a>
                            <a class="dropdown-item" href="/lang/ja">日本語</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="@(ViewBag.Flex ? "container-fluid" : "container")">
            <div style="text-align:center">
                <table style="margin:auto">
                    <tbody align="center">
                        <tr>
                            <td width="100">
                                <div align="center">
                                    <div align="center">
                                        <a data-toggle="tooltip" data-placement="top" title="Please contact us through : Inquiries@kyubey.network"><img src="~/img/email_L.png" /></aid>
                                    </div>
                                    <div align="center">
                                        <a data-toggle="tooltip" data-placement="top" title="Please contact us through : Inquiries@kyubey.network"><font color="#737373"> Mail </font></a>
                                    </div>
                                </div>
                            </td>
                            <td width="100">
                                <div align="center">
                                    <div align="center">
                                        <a href="https://medium.com/@@kyubeynetwork/" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/medium.png" /></a>
                                    </div>
                                    <div align="center">
                                        <a href="https://medium.com/@@kyubeynetwork/" target="_blank" style="color:red;text-decoration:none;"> <font color="#737373"> medium </font></a>
                                    </div>
                                </div>
                            </td>
                            <td width="100">
                                <div align="center">
                                    <div align="center">
                                        <a href="https://t.me/Kyubey_Network" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/telegram.png" /></a>
                                    </div>
                                    <div align="center">
                                        <a href="https://t.me/Kyubey_Network" target="_blank" style="color:red;text-decoration:none;"> <font color="#737373"> TG group</font></a>
                                    </div>
                                </div>
                            </td>
                            <td width="100">
                                <div align="center">
                                    <div align="center">
                                        <a href="https://t.me/Kyubey_Network_Announcement" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/telegram.png" /></a>
                                    </div>
                                    <div align="center">
                                        <a href="https://t.me/Kyubey_Network_Announcement" target="_blank" style="color:red;text-decoration:none;"><font color="#737373"> TG channel </font></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
            <p></p>
            <p class="m-0 text-center text-white small">Copyright &copy; Kyubey @DateTime.Now.Year</p>
        </div>
    </footer>
</body>

</html>
