<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Kyubey</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="~/css/one-page-wonder.min.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-slider.min.js"></script>
    <script src="~/js/common.js"></script>

    <style type="text/css">
        #box {
            display: none;
            position: absolute;
            left: 480px;
            height: 5px;
            width: 300px;
            height: 50px;
            background: black;
            text-align: center;
            z-index: 5;
            background-color: rgba(0,0,0,0)
        }
    </style>
    @RenderSection("Style", required: false)
    <script type="text/javascript">
        function display() {
            document.getElementById("box").style.display = "block";
        }
        function disappear() {
            document.getElementById("box").style.display = "none";
        }
    </script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="@(ViewBag.Flex ? "container-fluid" : "container")">
            <a class="navbar-brand" href="/">Kyubey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.NavActive=="KYUBEYDEX"? "active":"")">
                        <a class="nav-link" href="/">@SR["KyubeyDex"]</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">@SR["WhitePaper"]</a>
                    </li>
                    <li class="nav-item @(ViewBag.NavActive=="ANALYSIS"? "active":"")">
                        <a class="nav-link" asp-action="Index" asp-controller="Analysis" asp-route-id="">@SR["Curve Analysis"]</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="//manage.kyubey.network" target="_blank">@SR["Onboard"]</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @SR["Language"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="javascript:setLang('en-US')">English</a>
                            <a class="dropdown-item" href="javascript:setLang('zh-CN')">简体中文</a>
                            @*<a class="dropdown-item" href="javascript:setLang('zh-TW')">繁體中文</a>
                            <a class="dropdown-item" href="javascript:setLang('ja-JP')">日本語</a>*@
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="@(ViewBag.Flex ? "container-fluid" : "container")">
            <div style="padding :30px">
                <div id="box" onmouseover="display()" onmouseout="disappear()">
                    <p align="right" style="padding-right :20px"> <font color="white" size="2"> Please contact us through : kyubeynetwork@gmail.com </font></p>
                </div>
                <table align="center">
                    <tr>
                        <td width="100">
                            <div align="center">
                                <div align="center">
                                    <a onmouseover="display()" onmouseout="disappear()"><img src="~/img/email_L.png" /></a>
                                </div>
                                <div align="center">
                                    <a onmouseover="display()" onmouseout="disappear()"><font color="#737373"> Mail </font></a>
                                </div>
                            </div>
                        </td>
                        <td width="100">
                            <div align="center">
                                <div align="center">
                                    <a href="https://medium.com/@@kyubeynetwork/" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/medium.png" /></a>
                                </div>
                                <div align="center">
                                    <a href="https://medium.com/@@kyubeynetwork/" target="_blank" style="color:red;text-decoration:none;"> <font color="#737373"> medium </font></a>
                                </div>
                            </div>
                        </td>
                        <td width="100">
                            <div align="center">
                                <div align="center">
                                    <a href="https://t.me/Kyubey_Network" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/telegram.png" /></a>
                                </div>
                                <div align="center">
                                    <a href="https://t.me/Kyubey_Network" target="_blank" style="color:red;text-decoration:none;"> <font color="#737373"> TG group</font></a>
                                </div>
                            </div>
                        </td>
                        <td width="100">
                            <div align="center">
                                <div align="center">
                                    <a href="https://t.me/Kyubey_Network_Announcement" target="_blank" style="color:red;text-decoration:none;"><img src="~/img/telegram.png" /></a>
                                </div>
                                <div align="center">
                                    <a href="https://t.me/Kyubey_Network_Announcement" target="_blank" style="color:red;text-decoration:none;"><font color="#737373"> TG channel </font></a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            <p></p>
            <p class="m-0 text-center text-white small">Copyright &copy; Kyubey @DateTime.Now.Year</p>
        </div>
    </footer>
</body>

</html>
