@{
    ViewBag.Title = SR["Change Password"];
    ViewBag.Current = "curve-create";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Title</h1>
</div>

<form class="col-lg-8 col-md-12" asp-action="Password" method="post">
    <div class="form-group"><label>@SR["Current Password"]</label><br /><input type="password" name="old" class="form-control" /></div>
    <div class="form-group"><label>@SR["New Password"]</label><br /><input type="password" name="new" class="form-control" /></div>
    <div class="form-group"><label>@SR["Confirm"]</label><br /><input type="password" name="confirm" class="form-control" /></div>
    <div class="form-group"><input type="submit" value="@SR["Change Password"]" class="btn btn-primary" /></div>
</form>
