<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - Kyubey Network</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/vegas.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- GRID LINE -->
    <section class="grid">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>

            </div>
        </div>
    </section>

    <!-- HOME -->
    <section id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="home-info">
                        <div>
                            <img src="~/images/logo.png" style="width: 120px;" />
                            <ul class="navigator">
                                <li class="@(ViewBag.Current == "home" ? "active" : "")"><a href="/"><i class="fa fa-home"></i> @SR["Home"]</a></li>
                                <li class="@(ViewBag.Current == "buy" ? "active" : "")"><a href="/buy"><i class="fa fa-sign-in"></i> @SR["Buy"]</a></li>
                                <li class="@(ViewBag.Current == "sell" ? "active" : "")"><a href="/sell"><i class="fa fa-sign-out"></i> @SR["Sell"]</a></li>
                                <li class="@(ViewBag.Current == "orders" ? "active" : "")"><a href="/orders"><i class="fa fa-exchange"></i> @SR["Claim"]</a></li>
                                <li class="@(ViewBag.Current == "help" ? "active" : "" )"><a href="/help"><i class="fa fa-question"></i> @SR["Help"]</a></li>
                                <li><a href="https://kyubey.network"><i class="fa fa-diamond"></i> @SR["Kyubey"]</a></li>
                            </ul>
                        </div>
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/vegas.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/eos.js"></script>
    <script src="~/js/kyubey.js"></script>
</body>
</html>