@model Bancor

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Title</h1>
</div>

<div class="container-flex">
    <ul class="manage-header">
        <li class="manage-header-item @(ViewBag.Current == "bancor-manage-basic" ? "active" : "")"><a asp-action="Manage" asp-route-id="@Model.Id">@SR["Basic"]</a></li>
        <li class="manage-header-item @(ViewBag.Current == "bancor-manage-price" ? "active" : "")"><a asp-action="ManagePrice" asp-route-id="@Model.Id">@SR["Token Price"]</a></li>
    </ul>
</div>