@model Bancor
@{
    ViewBag.Title = Model.Id + " - " + SR["Status"];
    ViewBag.Current = "bancor-manage-price";
}

@await Html.PartialAsync("_ManageHeader")

<form class="col-lg-8 col-md-12" asp-action="ManageStatus" method="post">
    <div class="form-group">
        <label>@SR["Status"]</label>
        <br />
        <select asp-for="Status" class="form-control">
            <option value="Active">@SR["Active"]</option>
            <option value="Reviewing">@SR["Reviewing"]</option>
            <option value="Banned">@SR["Banned"]</option>
        </select>
    </div>
    <div class="form-group"><input type="submit" value="@SR["Save"]" class="btn btn-primary" /></div>
</form>
