@model Token
@{
    TokenManifestJObject tokenInfo = ViewBag.TokenInfo;
}

<header class="brand-header masthead text-center text-white"></header>

<section class="brand-section">
    <div class="container-fluid brand">
        <img src="/token/@(@Model.Id).png" class="brand-icon" />
        <div class="brand-name">@Model.Id</div>
    </div>
</section>

<section class="brand-menu">
    <div id="containId">
        <a class="brand-menu-item @(ViewBag.Current == " token-about" ? "active" : "" )" asp-action="Index" asp-route-id="@Model.Id">@SR["About"]</a>
        @if (tokenInfo.Dex || tokenInfo.Contract_Exchange)
        {
        <a class="brand-menu-item @(ViewBag.Current == " token-exchange" ? "active" : "" )" asp-action="Exchange" asp-route-id="@Model.Id">@SR["Exchange"]</a>
        }
        @if (ViewBag.Current == "token-exchange")
        {
        <a class="brand-menu-item brand-menu-item-right" v-if="isSignedIn" v-on:click="switchAccount()">@SR["Switch"]</a>
        <a class="brand-menu-item brand-menu-item-right" v-on:click="login()">{{ getAccountName() }}</a>
        }
    </div>
</section>