@model Token
@{

    Otc otc = ViewBag.Otc;
    Bancor bancor = ViewBag.Bancor;
    TokenHandlerViewModel hatcher = ViewBag.HandlerView;
}
<section>
    <div class="container">
        <div class="card token-infobox">
            <div class="row">

                <div class="col-6">
                    <div style="min-height:128px;">
                        <img src="/token/@(Model.Id).png" />
                        <div style="float:left;min-height:128px;margin-left:14px;">
                            <h3 >@Model.Id</h3>
                            <p class="token-infobox-intro" style="">@Model.Description</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="col text-right">
                    <div class="row token-infobox-info-right">
                        <div class="col-4">
                            <strong>@SR["Crowdfunding Amount"]</strong>
                            <p>@(hatcher.HandlerInfo.TargetCredits.ToString("0.0000")) EOS</p>
                        </div>
                        <div class="col-4">
                            <strong>@SR["Delivery Amount"]</strong>
                            <p>@(!Model.DeliveryAmount.HasValue ? SR["Unknown"] : Model.DeliveryAmount.ToString())</p>
                        </div>
                        <div class="col-4">
                            <strong>@SR["PROTOCOL"]</strong>
                            <p>@(Model.CurveId ?? SR["Unknown"])</p>
                        </div>
                        <div class="col-4">
                            <strong>@SR["Current Price"]</strong>
                            <p>@(0) EOS</p>
                        </div>
                        <div class="col-4">
                            <strong>@SR["Contract"]</strong>
                            <p>@Model.Contract</p>
                        </div>
                        <div class="col-4">
                            <strong>@SR["WebUrl"]</strong>
                            <p><a href="@Model.WebUrl" target="_blank">@Model.WebUrl</a> </p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>