@model Token
@{
    Otc otc = ViewBag.Otc;
    Bancor bancor = ViewBag.Bancor;
    Dex dex = ViewBag.Dex;
}

<script src="~/js/eos.js"></script>
<script src="~/js/common.js"></script>

<header class="brand-header masthead text-center text-white"></header>

<section>
    <div class="container brand">
        <img src="/token/@(@Model.Id).png" class="brand-icon" />
        <div class="brand-name">@Model.Id</div>
    </div>
</section>

<section class="brand-menu">

    <div id="containId">
        <a class="brand-menu-item @(ViewBag.Current == "token-about" ? "active" : "")" asp-action="Index" asp-route-id="@Model.Id">@SR["About"]</a>
        @if (!string.IsNullOrEmpty(Model.Contract))
        {
            <a class="brand-menu-item @(ViewBag.Current == "token-holders" ? "active" : "")" asp-action="Holders" asp-route-id="@Model.Id">@SR["Holders"]</a>
        }
        @if (!string.IsNullOrEmpty(Model.CurveId))
        {
            <a class="brand-menu-item @(ViewBag.Current == "token-curve" ? "active" : "")" asp-action="Curve" asp-route-id="@Model.Id">@SR["Curve"] (@Model.CurveId)</a>
        }
        @if (bancor != null)
        {
            <a class="brand-menu-item @(ViewBag.Current == "token-k" ? "active" : "")" asp-action="KyubeyCandlestick" asp-route-id="@Model.Id">@SR["Candlestick"]</a>
        }
        @if (otc != null || bancor != null || dex != null)
        {
            <a class="brand-menu-item @(ViewBag.Current == "token-buy" ? "active" : "")" asp-action="Buy" asp-route-id="@Model.Id">@SR["Buy"]</a>
            <a class="brand-menu-item @(ViewBag.Current == "token-sell" ? "active" : "")" asp-action="Sell" asp-route-id="@Model.Id">@SR["Sell"]</a>
        }
        @if (otc != null || dex != null)
        {
            <a class="brand-menu-item @(ViewBag.Current == "token-publish" ? "active" : "")" asp-action="Publish" asp-route-id="@Model.Id">@SR["OTC Publish"]</a>
        }
    </div>
    @{
        <script>
            if (isPc()) {
                $("#containId").addClass("container");
            } else {
                $("#containId").addClass("mobile-container")
            }
        </script>

    }
</section>