@model Token
@{

    Otc otc = ViewBag.Otc;
    Bancor bancor = ViewBag.Bancor;
    TokenHandlerViewModel hatcher = ViewBag.HandlerView;
    TokenManifestJObject tokenInfo = ViewBag.TokenInfo;
}
<section>
    <div class="container">
        <div class="token-infobox">
            <div class="row">

                <div class="col-md-6">
                    <div class="token-incubation-icon-outer">
                        <img src="/token/@(Model.Id).png" />
                    </div>
                    <div class="token-incubation-description-outer">
                        <h3>@Model.Id</h3>
                        <div>@ViewBag.TokenDescription</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Crowdfunding Amount"]</div>
                            <div class="token-incubation-infobox-subtitle">@(hatcher.HandlerInfo.TargetCredits.ToString("0.0000")) EOS</div>
                        </div>
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Total Supply"]</div>
                            <div class="token-incubation-infobox-subtitle">@(!tokenInfo.Basic.Total_Supply.HasValue ? SR["Unknown"] : tokenInfo.Basic.Total_Supply.ToString())</div>
                        </div>
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Protocol"]</div>
                            <div class="token-incubation-infobox-subtitle">@(Model.CurveId ?? SR["Unknown"])</div>
                        </div>
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Current Price"]</div>
                            <div class="token-incubation-infobox-subtitle">@(0) EOS</div>
                        </div>
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Contract Account"]</div>
                            <div class="token-incubation-infobox-subtitle">@tokenInfo.Basic.Contract.Transfer</div>
                        </div>
                        <div class="col-md-4 token-incubation-infobox-card">
                            <div class="token-incubation-infobox-title">@SR["Website"]</div>
                            <div class="token-incubation-infobox-subtitle"><a href="@tokenInfo.Basic.Website" target="_blank">@SR["Go to"]</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>