@model Token
@{
    ViewBag.Title = Model.Id + " - " + SR["Buy"];
    ViewBag.Current = "token-buy";
    Bancor bancor = ViewBag.Bancor;
    Otc otc = ViewBag.Otc;
}
@await Html.PartialAsync("_TokenHeader")
<script src="~/js/kyubey.js"></script>
@if (bancor != null)
{
    <script src="/token/@(Model.Id).js"></script>
}

<section>
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_TokenSidebar")
            <div class="col-md-8">
                @if (bancor != null)
                {
                    <div class="card">
                        <div>@SR["Kyubey Exchange"]</div>
                        <div><input class="currency-input2" type="text" placeholder="@SR["Input amount"]" id="amount" /></div>
                        <div><input class="btn btn-primary btn-convert2" type="button" value="@SR["Buy"]" onclick="buy()" /></div>
                    </div>
                }

                @if (otc != null)
                {
                    <div class="card no-padding">
                        <table class="currency-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>@SR["Owner"]</th>
                                    <th>@(Model.Id)</th>
                                    <th>@SR["Total price"]</th>
                                    <th>@SR["Unit price"]</th>
                                    <th>@SR["By"]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="lstTransactions"></tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalTake" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@SR["Transaction"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        @SR["Outgoing"]
                    </div>
                    <div class="col-md-4">
                        <input id="slider1" data-slider-id="slider1" type="text" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="value1" />
                    </div>
                    <div class="col-md-2" id="symbol1">
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-2">
                        @SR["Incoming"]
                    </div>
                    <div class="col-md-4">
                        <input id="slider2" data-slider-id="slider2" type="text" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="value2" />
                    </div>
                    <div class="col-md-2" id="symbol2">
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-4" style="text-align: center">
                        @SR["Unit Price"]
                    </div>
                    <div class="col-md-2">
                        ≈
                    </div>
                    <div class="col-md-4" id="unit">
                    </div>
                    <div class="col-md-2">
                        EOS
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="take2()">Take</button>
            </div>
        </div>
    </div>
</div>

<script>
    function unit_price(token, eos) {
        return (parseFloat(eos.split(' ')[0]) / parseFloat(token.split(' ')[0])).toFixed(4) + " EOS";
    }

    function PollTransactions() {
        $.getJSON('/token/@Model.Id/buy-data', { min: $('#min').val(), max: $('#max').val() }, function (data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                html += `<tr id='tx-${data[i].id}'><td class='tx-id'>${data[i].id}</td><td>${data[i].owner}</td><td class='tx-bid'>${data[i].bid.quantity}</td><td class='tx-ask'>${data[i].ask.quantity}</td><td>${unit_price(data[i].bid.quantity, data[i].ask.quantity)}</td><td>${(new Date(data[i].timestamp * 1000)).Format('yyyy-MM-dd hh:mm')}</td><td><a href="javascript:${account && data[i].owner === account.name ? 'cancel' : 'take'}(${data[i].id})">${account && data[i].owner === account.name ? 'Cancel' : 'Take' }</a></td></tr>`;
            }
            $('#lstTransactions').html(html);
        });
    }

    $('#min').keyup(PollTransactions);
    $('#max').keyup(PollTransactions);

    setTimeout(PollTransactions, 1000);
    setTimeout(PollTransactions, 2000);
    setTimeout(PollTransactions, 3000);
    setInterval(PollTransactions, 5000);

    var current_unit_price;

    var slider1 = $('#slider1')
        .on('slide', function (slideEvt) {
            $('#value1').val(parseFloat(slider1.val()).toFixed(4));
            $('#value2').val(parseFloat(slider1.val() * current_unit_price).toCeil(4));
            $('#value2').keyup();
        });
    slider1.bootstrapSlider();
    var slider2 = $('#slider2');
    slider2.bootstrapSlider()
        .on('slide', function (slideEvt) {
            $('#value2').val(parseFloat(slider2.val()).toFixed(4));
            $('#value1').val(parseFloat(slider2.val() / current_unit_price).toFloor(4));
            $('#value1').keyup();
        });
    var _id;

    function take(id) {
        _id = id;
        var bid = $('#tx-' + id).find('.tx-bid').text();
        var max1 = parseFloat(bid.split(' ')[0]).toFixed(4);
        var symbol1 = bid.split(' ')[1];
        $('#symbol1').text(symbol1);
        var ask = $('#tx-' + id).find('.tx-ask').text();
        var max2 = parseFloat(ask.split(' ')[0]).toFixed(4);
        var symbol2 = ask.split(' ')[1];
        $('#symbol2').text(symbol2);

        current_unit_price = parseFloat(max2 / max1).toCeil(4);
        $('#unit').text(current_unit_price);

        slider1.bootstrapSlider('setAttribute', 'step', 0.0001);
        slider1.bootstrapSlider('setAttribute', 'min', 0);
        slider1.bootstrapSlider('setAttribute', 'max', max1);
        slider1.bootstrapSlider('setValue', parseFloat(max1), true);
        slider1.bootstrapSlider('relayout');

        $('#value1').val(max1);
        $('#value1').unbind('keyup').keyup(function () {
            var val = parseFloat($('#value1').val()).toFixed(4);
            slider1.bootstrapSlider('setValue', parseFloat(val));
            $('#value2').val(parseFloat(slider1.val() * current_unit_price).toCeil(4));
            val = parseFloat($('#value2').val()).toFixed(4);
            slider2.bootstrapSlider('setValue', parseFloat(val));
        });

        slider2.bootstrapSlider('setAttribute', 'step', 0.0001);
        slider2.bootstrapSlider('setAttribute', 'min', 0);
        slider2.bootstrapSlider('setAttribute', 'max', max2);
        slider2.bootstrapSlider('setValue', parseFloat(max2), true);
        slider2.bootstrapSlider('relayout');

        $('#value2').val(max2);
        $('#value2').unbind('keyup').keyup(function () {
            var val = parseFloat($('#value2').val()).toFixed(4);
            slider2.bootstrapSlider('setValue', parseFloat(val));
            $('#value1').val(parseFloat(slider2.val() / current_unit_price).toCeil(4));
            val = parseFloat($('#value1').val()).toFixed(4);
            slider1.bootstrapSlider('setValue', parseFloat(val));
        });

        $('#modalTake').modal('show');
    }

    function take2() {
        var bid = parseFloat($('#value1').val()).toFixed(4) + ' ' + $('#symbol1').text();
        var ask = parseFloat($('#value2').val()).toFixed(4) + ' ' + $('#symbol2').text();
        var memo = `take,${bid},@Model.Contract,${_id}`;
        eos.contract('eosio.token', { requiredFields })
            .then(contract => {
                return contract.transfer(
                    account.name,
                    '@ViewBag.OtcContract',
                    ask,
                    memo,
                    {
                        authorization: [`${account.name}@@${account.authority}`]
                    });
            })
            .then(() => {
                showModal('@SR["Transaction Succeeded"]', '@SR["You can confirm the result in your wallet"], @SR["Please contact us if you have any questions"]');
            })
            .catch(err => {
                showModal('@SR["Transaction Failed"]', error.message + '@SR["Please contact us if you have any questions"]');
            });
    }

    function cancel(id) {
        var bid = $('#tx-' + id).find('.tx-bid').text();
        var ask = $('#tx-' + id).find('.tx-ask').text();
        var memo = `${ask}@@eosio.token`;
        eos.contract('@ViewBag.OtcContract', { requiredFields })
            .then(contract => {
                return contract.retrieve(
                    account.name,
                    id,
                    memo,
                    {
                        authorization: [`${account.name}@@${account.authority}`]
                    });
            })
            .then(() => {
                showModal('@SR["Transaction Cancelled"]', '@SR["You can confirm the result in your wallet"], @SR["Please contact us if you have any questions"]');
            })
            .catch(err => {
                showModal('@SR["Transaction Cancel Failed"]', error.message + '@SR["Please contact us if you have any questions"]');
            });
    }
</script>