@model Token
@{
    ViewBag.Current = "token-about";
    ViewBag.Title = Model.Id;
    Andoromeda.Kyubey.Models.Hatcher.TokenHatcher handerInfo = ViewBag.Handler;
    List<Guid> TokenBannerIds = ViewBag.TokenBannerIds;
    List<Andoromeda.Kyubey.Models.Hatcher.TokenRecentUpdate> recentUpdates = ViewBag.RecentUpdates;
    List<TokenCommentViewModel> tokenCommentView = ViewBag.Comments;
}
@await Html.PartialAsync("_TokenHeader")


<section style="margin-top:16px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                @if (TokenBannerIds != null && TokenBannerIds.Count > 0)
                {
                    @*foreach (var bannerId in TokenBannerIds)
                        {
                            <img src="/token/tokenbanner/@(bannerId).png" />
                        }*@
                    <img class="img-fluid " style="height:450px;width:100%;" alt="Responsive image" src="/token/tokenbanner/@(TokenBannerIds.FirstOrDefault()).png" />
                }

            </div>

            <div class="col-md-5" style="height:450px;">
                <details style="margin-bottom:10px;">
                    <summary><strong>项目发起人 张三2</strong></summary>
                    <p>
                        项目发起人 张三2<br />
                        项目发起人 张三2
                    </p>
                </details>
                <div class="row">
                    <div class="col-md-12">
                        <p class="h2">7900&nbsp;CMU&nbsp; Raised</p>
                        <div class="progress" style="background-color:darkgray;height:30px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="h6" style="margin-top:4px; text-align:right;">Goal:999999999CMU</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="h6"><strong>项目剩余时间</strong></p>
                        <p class="h1">188天</p>
                    </div>
                    <div class="col-md-6">
                        <p class="h6"><strong>还需要</strong></p>
                        <p><span class="h1 ">30.66K</span><span class="h6 " style="margin-left:4px;">CMU</span></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="h6"><strong>支持人数</strong></p>
                        <p class="h1">123人</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            @await Html.PartialAsync("_TokenSidebar")
            <div class="col-md-8">

                <div class="card">
                    @Html.Marked(Model.Description)
                </div>


                <div class="card">
                    @SR["Start Time"]:@Html.Marked(handerInfo.StartTime.ToLocalTime().ToString("d", System.Globalization.CultureInfo.InvariantCulture))<br />
                    @SR["Deadline"]:@Html.Marked(handerInfo.Deadline.ToLocalTime().ToString("d", System.Globalization.CultureInfo.InvariantCulture))<br />
                    @SR["Target Credits"]:@Html.Marked(handerInfo.TargetCredits.ToString("N"))
                </div>
                <div class="card">
                    @SR["Token Detail"]:@Html.Marked(handerInfo.Detail)
                </div>

                @if (TokenBannerIds != null)
                {
                    <div class="card">
                        @foreach (var up in recentUpdates)
                        {
                            @up.Content<br />
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</section>