@{
    ViewBag.Title = Model.Id + " - " + SR["Exchange"];
    ViewBag.Current = "token-manage-exchange";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Title</h1>
</div>

<form class="col-lg-6 col-md-12" asp-action="Create" method="post">
    <div class="form-group">
        <label>@SR["OTC"]</label><br />
        <div>
            @if (ViewBag.OTC)
            {
            <a asp-action="Manage" asp-controller="OTC" asp-route-id="@Model.Id">@SR["Configure"]</a>
            }
            else
            {
            <a asp-action="Onboard" asp-controller="OTC" asp-route-id="@Model.Id">@SR["Onboard_Exchange"]</a>
            }
        </div>
    </div>
    <div class="form-group">
        <label>@SR["Bancor"]</label><br />
        <div>
            @if (ViewBag.Bancor)
            {
            <a asp-action="Manage" asp-controller="Bancor" asp-route-id="@Model.Id">@SR["Configure"]</a>
            }
            else
            {
            <a asp-action="Onboard" asp-controller="Bancor" asp-route-id="@Model.Id">@SR["Onboard_Exchange"]</a>
            }
        </div>
    </div>
</form>
